footer{
    margin-top: 140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
}

.footer{
    display: flex;
    margin-left: 550px;
    gap: 50px;
}