@import "variable";
@import "header";
@import "footer";





.form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 330px;
    
}


.input-field{
    border: none;
    border-bottom: 1px solid #9DBEBB;
    outline: none;
    background:transparent ;
    font-family: "Roboto", sans-serif;
    

}

.input-field:hover{
    background-color: burlywood;
}


button{
    background-color: #4A4FF2;
    color: #ffffff;
    border: none;
    
    width: 125px;
    height: 50px;
    
}

button:hover{
    background-color: #FFB039;
}