@import "variable";
@import "header";
@import "footer";
@import "flex";

.project-box{
    margin-top: 30px;
   display: grid;
    row-gap: 30px;
   
}

.project-box > div {
    

    border-bottom: 1.5px solid #D8D8D8;
}

.left{
font-size: 16px;
}

.right{
    font-weight: bold;
font-size: 16px;

}

.flex-container{
    width: 380px;
    gap: 10px;

}

